@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Fraunces:opsz,wght@9..144,600;9..144,700;9..144,800;9..144,900&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*storing color for later use */

:root {
    --pri-soft-red: hsl(7, 99%, 70%);
    --pri-yellow: hsl(51, 100%, 49%);
    --pri-dark-sat: hsl(167, 40%, 24%);
    --pri-dark-blue: hsl(198, 62%, 26%);
    --pri-dark-mcyan: hsl(168, 34%, 41%);
    --neu-vd-db: hsl(212, 27%, 19%);
    --neu-vd-gb: hsl(213, 9%, 39%);
    --neu-d-gb: hsl(232, 10%, 55%);
    --neu-gb: hsl(210, 4%, 67%);
    --neu-white: hsl(0, 0%, 100%);
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.big-text {
    font-family: Fraunces, sans-serif;
}

.small-text {
    font-family: Barlow, sans-serif;
    font-weight: 500;
}

.title {
    font-family: Fraunces, sans-serif;
}

.center {
    text-align: center;
}



/*general css */

a {
    text-decoration: none;

}

li {
    list-style: none;
}


/*navbar css */


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.menu,
.nav-links {
    display: flex;

}

.menu {
    column-gap: 20px;
    z-index: 1;
}

.logo {
    padding: 8px;
}


.menu li a {
    font-weight: 500;
    color: var(--neu-white);
    font-size: 1.2rem;
    transition: 0.53s ease;
    padding: 8px 10px;
    border: none;
    border-radius: 20px;
    display: block;


}

.menu li a:hover {
    color: black;
    background-color: var(--neu-white);
    text-transform: uppercase;
    color: black;

}

/*responsive navbar */

input[type=checkbox] {
    display: none;
    transition: 0.5s ease-in-out;
}

.hamburger img,
.hamburger {
    display: none;

}

.hamburger img:hover {
    cursor: pointer;
}

.hamburger {
    user-select: none;

}





/*header css */

.header {
    background-image: url('images/desktop/image-header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh !important;
    max-width: 100vw;

}

.hero {
    margin-top: 10vh;
}

.hero h1 {
    font-size: 4rem;
    color: var(--neu-white);
    transition: 1s ease-in-out;
    animation: 2s ease-in-out 0s 1 slideUp;
}

.hero .down-arrow {
    margin-top: 50px;
    transition: 1s ease-in-out;
    animation: 1.5s ease-in-out 0s 1 slideDown;
    text-align: center;
}



@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        margin-top: -50px;
        opacity: 0;
    }

    100% {
        margin-top: 50px;
        opacity: 1;
    }
}


.main,
.client-container,
.feature-image {
    display: grid;
}

/*main section css*/


.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 0;
    grid-template-areas:
        "img1"
        "info1"
        "img2"
        "info2"
    ;

}

.img-1 {
    grid-area: img1;

}

.img-2 {
    grid-area: img2;

}

.info-1 {
    grid-area: info1;
}

.info-2 {
    grid-area: info2;
}

.main .img {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.main .img img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.info {
    display: grid;
    justify-content: center;
    align-items: center;


}

.info .text {
    display: grid;
    grid-row-gap: 30px;
    padding: 50px;
}


.info h1 {
    font-size: 3rem;
}

.info p {
    font-size: 1.1rem;
}

link-wrapper {
    position: relative;
}

.learn-more {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
    padding: 0 10px;
    width: max-content;
}

.underline {

    position: absolute;
    left: 0;
    right: 0;

    width: 100%;

    bottom: 0;
    border-radius: 20px;
    height: 10px;
    opacity: 0.3;
    transition: .5s ease-in-out;
    z-index: -1;
}

.learn-more:hover .underline {
    opacity: 1;
}

#yellow {
    background-color: var(--pri-yellow);
}

#orange {
    background-color: var(--pri-soft-red);
}

.img-overlay {
    position: relative;
}

.img-overlay .overlay {
    position: absolute;
    bottom: 50px;
    text-align: center;
    padding: 10px 50px;
}



#graphic {
    color: var(--pri-dark-sat);
}

#photography {
    color: var(--pri-dark-blue);
}

.testmonial-section,
.feature-image {
    grid-column: 1 / -1;
}

.testmonial-section h1 {
    margin-top: 50px;
    font-size: 2.5rem;
    color: var(--neu-gb)
}

.client-container {

    margin: 50px 0;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--neu-white);
}

.card {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 30px;
    gap: 50px;

}

.card .profile {

    text-align: center;
}

.profile img {
    width: 50px;
    border-radius: 50%;
}

.feed {
    color: var(--neu-vd-gb);
    font-family: Barlow, sans-serif;
    font-weight: 500;
}


.client-info p {
    padding-top: 15px;
    color: var(--neu-gb);
}

.feature-image {

    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.feature-image picture img {
    width: 100%;
    height: 100%;

}

.feature-image picture {
    width: 100%;
    min-height: 100%;
    padding: 0;

}







/*footer css */


.footer {

    background-color: hsl(168, 34%, 41%);
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    justify-content: center;
    align-content: center;


}


.foot-social-nav {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.foot-social-nav > a {
    text-decoration: none;

}

.foot-head a {
    font-weight: 800;
    text-decoration: none;
    color: var(--pri-dark-sat);
}

.foot-logo {
    filter: brightness(0) saturate(100%) invert(27%) sepia(6%) saturate(4248%) hue-rotate(116deg) brightness(88%) contrast(79%);
}


.foot-nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
}

.foot-nav a,
.foot-social-nav a img {
    transition: .5s ease-in-out;
}

.foot-nav a:hover {
    color: var(--neu-white);
}

.foot-social-nav a:hover img {

    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(64deg) brightness(104%) contrast(101%);
}



/*footer hover css */













/*responsive desing */

@media only screen and (min-width : 751px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "info1 img1"
            "img2 info2";
    }
}

@media only screen and (max-width : 750px) {

    .learn-more {
        margin: auto;
        s
    }


    .menu {
        transition: 0.5s ease;
        position: absolute;
        background-color: var(--neu-white);
        top: -100%;
        right: 20px;
        left: 20px;
        text-align: center;
        flex-direction: column;


    }

    .menu li a {
        color: black;
        font-size: 1.5rem;
        display: inline-block;
    }

    .menu li {
        margin-top: 20px;
        padding: 15px 0;


    }

    .menu li:nth-last-child(1) {
        margin-bottom: 20px;
    }

    .menu li a:hover {

        background-color: var(--pri-yellow);

    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
        top: 100px;
    }

    .hamburger,
    .hamburger img {
        display: block;
    }

    .triangle {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 20px solid var(--neu-white);
        background-color: transparent;
        position: absolute;
        top: -15px;
        right: 0;
    }


    .header {
        background: url('images/mobile/image-header.jpg') no-repeat fixed center;


    }

    .hero {
        margin-top: 20vh;
    }

    .hero h1 {
        font-size: 4rem;
        color: var(--neu-white);
    }

    .hero .down-arrow {
        margin-top: 80px;
    }

    @keyframes slideDown {
        0% {
            margin-top: -50px;
            opacity: 0;
        }

        100% {
            margin-top: 80px;
            opacity: 1;
        }
    }

    .main {
        grid-template-columns: 1fr;


    }


    .main > img {
        width: 100vw;

    }

    .main > div {
        aspect-ratio: 1 / 1;
    }

    .info {
        padding: 0;
    }

    .info {
        text-align: center;
    }

    .img-overlay {
        width: 100vw;

    }

    .img-overlay img {
        object-fit: cover;
    }

    .client-container {
        grid-template-columns: 1fr;
    }

    .testmonials-section h1 {
        font-size: 1.1rem;
    }

    .card {

        margin: 20px 0;
    }

    .feature-image {
        grid-template-columns: 1fr 1fr;

    }

    .feature-image picture {
        width: 100%;
        min-height: 100%;
    }

}










/*media query to target tablets */

@media (min-width: 481px) and (max-width: 767px) {
    .hero {
        margin-top: 20vh;
    }

    .hero h1 {
        font-size: 4rem;
        color: var(--neu-white);
    }

    .hero .down-arrow {
        margin-top: 80px;
    }

    @keyframes slideDown {
        0% {
            margin-top: -50px;
            opacity: 0;
        }

        100% {
            margin-top: 80px;
            opacity: 1;
        }
    }

}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    .hero {
        margin-top: 25vh;
    }

    .hero h1 {
        font-size: 6rem;
        color: var(--neu-white);
    }


}

/*for larger desktop */


@media (min-width: 1281px) {

    .hero h1 {
        font-size: 8rem;
    }

    .hero .down-arrow img {
        height: 200px;
    }

    .menu li a {
        font-size: 1.8rem;
    }
}

/*for screen size less than 300px */

@media (max-width:300px) {

    .hero h1 {
        font-size: 3rem;
    }

    .info .text {
        padding: 3px;
    }

    .info .title {
        font-size: 1.3rem;
    }

    .img-overlay .overlay {
        padding: 3px;
        bottom: 10px;
    }

    .card {
        padding: 0;
    }



}